.full-body-banner-img {
  position: absolute;
  animation: rightToLeft 5s ease-in-out infinite;
}

@keyframes rightToLeft {
  0% {
    transform: translateX(100%); /* Start outside from right */
    opacity: 0;
  }
  20% {
    opacity: 1; /* Fade in while moving */
  }
  80% {
    opacity: 1; /* Stay visible */
  }
  100% {
    transform: translateX(-40%); /* Move out to the left */
    opacity: 0;
  }
}
